<div>
  <h1 class="center-align">用語集</h1>
  <div class="row">
    <%= search_form_for @q do |f| %>
      <%= f.label :title_or_content, "Keyword" %>
      <%= f.search_field :title_or_content_cont %>

      <%= f.submit t('helpers.submit.search'), class: 'waves-effect waves-light btn brown', id: 'submit' %>
      <%= link_to "クリア", glossaries_path, class: 'waves-effect waves-light btn brown' %>
    <% end %>
  </div>
  <% if admin_user? %>
    <div class="right">
      <a class="btn-floating btn-large waves-effect waves-light brown" href="/glossaries/new" role="button"><i class="material-icons">add</i></a>
    </div>
  <% end %>
</div>
<%= paginate @glossaries %>
<table>
  <thead>
    <tr>
      <th style="width:10%;">用語</th>
      <th style="width:40%;">説明</th>
      <th style="width:20%;">タグ</th>
      <th style="width:20%;">処理</th>
    </tr>
  </thead>
  <tbody>
    <% if @glossaries.length == 0 %>
      対象のデータはありません。
    <% else %>
      <% @glossaries.each do |glossary| %>
        <tr>
          <td><%= glossary.title %></td>
          <td>
            <div style="width:400px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">
              <%= glossary.content %>
            </div>
          </td>
          <td><%= render 'layouts/tag_list', tag_list: glossary.tag_list, path: :glossaries_path %></td>
          <td>
            <%= link_to "詳細", "glossaries/#{glossary.id}", class: 'waves-effect waves-light btn brown' %>
            <% if admin_user? %>
              <%= link_to "編集", "glossaries/#{glossary.id}/edit", class: 'waves-effect waves-light btn brown' %>
              <%= link_to "削除", "glossaries/#{glossary.id}", method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'waves-effect waves-light btn brown' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @glossaries %>
<div class="row right">
  <%= link_to "タグ絞り込みクリア", glossaries_path %>
</div>