<div class="d-flex align-items-center">
  <h1 class="center-align">編集</h1>
</div>
<div class="row">
  <a><%= link_to "戻る", chronologies_path, class: 'waves-effect waves-light btn brown' %></a>
</div>
<div class="row">
  <%= form_with model: @chronology, url: "/chronologies/#{@chronology.id}", local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :year, '西暦', class: 'active' %>
        <%= f.number_field :year, class: 'validate' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :japan_event, '倭国', class: 'active' %>
        <%= f.text_area :japan_event, class: 'materialize-textarea', rows:10 %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :korea_event, '朝鮮半島', class: 'active' %>
        <%= f.text_area :korea_event, class: 'materialize-textarea', rows:50 %>
      </div>
    </div>
		<div class="row">
      <div class="input-field col s12">
        <%= f.label :china_event, '中国', class: 'active' %>
        <%= f.text_area :china_event, class: 'materialize-textarea', rows:50 %>
      </div>
    </div>
		<div class="row">
      <div class="input-field col s12">
        <%= f.label :other_event, 'その他', class: 'active' %>
        <%= f.text_area :other_event, class: 'materialize-textarea', rows:50 %>
      </div>
    </div>
    <div class="row">
      <%= f.submit '登録', class: 'btn waves-effect waves-light brown', id: 'submit' %>
    </div>
  <% end %>
</div>