<div>
  <h1 class="center-align">年表</h1>
  <% if admin_user? %>
    <div class="right">
      <a class="btn-floating btn-large waves-effect waves-light brown" href="/chronologies/new" role="button"><i class="material-icons">add</i></a>
    </div>
  <% end %>
</div>
<%= paginate @chronologies %>
<table class="responsive-table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :year, "西暦") %></th>
      <th>倭国</th>
      <th>朝鮮半島</th>
      <th>中国</th>
      <th>その他</th>
      <% if admin_user? %>
        <th>処理</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @chronologies.length == 0 %>
      対象のデータはありません。
    <% else %>  
      <% @chronologies.each do |chronology| %>
        <tr>
          <td><%= chronology.year %></td>
          <td>
            <div style="max-height:150px; width:200px; overflow-x:scroll;">
              <%= chronology.japan_event %>
            </div>
          </td>
          <td>
            <div style="max-height:150px; width:200px; overflow-x:scroll;">
              <%= chronology.korea_event %>
            </div>
          </td>
          <td>
            <div style="max-height:150px; width:200px; overflow-x:scroll;">
              <%= chronology.china_event %>
            </div>
          </td>
          <td>
            <div style="max-height:150px; width:200px; overflow-x:scroll;">
              <%= chronology.other_event %>
            </div>
          </td>
          <% if admin_user? %>
          <td>
            <%= link_to "編集", "chronologies/#{chronology.id}/edit", class: 'waves-effect waves-light btn brown' %>
            <%= link_to "削除", "chronologies/#{chronology.id}", method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'waves-effect waves-light btn brown' %>
          </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @chronologies %>