<div>
  <h1 class="center-align">エピソード</h1>
  <div class="right">
    <a class="btn-floating btn-large waves-effect waves-light brown" href="/episodes/new" role="button"><i class="material-icons">add</i></a>
  </div>
</div>
<%= paginate @episodes %>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :chapter, "話") %></th>
      <th>タイトル</th>
      <th>概要</th>
      <th>区分</th>
      <th><%= sort_link(@q, :year, "西暦") %></th>
      <th>タグ</th>
      <th>処理</th>
    </tr>
  </thead>
  <tbody>
    <% if @episodes.length == 0 %>
      対象のデータはありません。
    <% else %>  
      <% @episodes.each do |episode| %>
        <tr>
          <td><%= episode.chapter %></td>
          <td><%= episode.title %></td>
          <td><%= episode.overview %></td>
          <td><%= episode.division %></td>
          <td><%= episode.year %></td>
          <td><%= render 'layouts/tag_list', tag_list: episode.tag_list, path: :episodes_path %></td>
          <td>
            <%= link_to "詳細", "episodes/#{episode.id}", class: 'waves-effect waves-light btn brown' %>
            <%= link_to "編集", "episodes/#{episode.id}/edit", class: 'waves-effect waves-light btn brown' %>
            <%= link_to "削除", "episodes/#{episode.id}", method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'waves-effect waves-light btn brown' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @episodes %>
<div class="row right">
  <%= link_to "タグ絞り込みクリア", episodes_path %>
</div>