<div class="d-flex align-items-center">
  <h1 class="center-align">詳細情報</h1>
</div>
<%= render 'layouts/button_show', model: @episode, path: :episodes_path %>
<div class="row">
  <table>
    <tr>
      <td width="10%"><label>話</label></td>
      <td><%= @episode.chapter %></td>
      <td width="15%"><label>タイトル</label></td>
      <td><%= @episode.title %></td>
    </tr>
    <tr>
      <td width="10%"><label>概要</label></td>
      <td colspan="3"><%= @episode.overview %></td>
    </tr>
    <tr>
      <td width="10%"><label>内容</label></td>
      <td colspan="3"><%= @episode.content %></td>
    </tr>
    <tr>
      <td width="10%"><label>舞台</label></td>
      <td colspan="3"><%= @episode.set %></td>
    </tr>
    <tr>
      <td width="10%"><label>キーワード</label></td>
      <td><%= @episode.keyword %></td>
      <td width="15%"><label>キーアイテム</label></td>
      <td><%= @episode.keyitem %></td>
    </tr>
    <tr>
      <td width="10%"><label>区分</label></td>
      <td><%= @episode.division %></td>
      <td width="15%"><label>西暦</label></td>
      <td><%= @episode.year %></td>
    </tr>
  </table> 
</div>
<%= render 'layouts/button_show', model: @episode, path: :episodes_path %>