<div class="row">
  <%= search_form_for @q do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <%= f.label :name, '名前', class: 'active' %>
      <%= f.search_field :name_cont %>
    </div>
    <div class="input-field col s6">
      <%= f.label :role, '役割', class: 'active' %>
      <%= f.search_field :role_cont %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :position, '役職', class: 'active' %>
      <%= f.search_field :position_cont %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= f.label :countory, '国', class: 'active' %>
      <%= f.search_field :countory_cont %>
    </div>
    <div class="input-field col s6">
      <%= f.label :birthplace, '出身地', class: 'active' %>
      <%= f.search_field :birthplace_cont %>
    </div>
  </div>
  <div class="row">
    <%= f.submit t('helpers.submit.search'), class: 'waves-effect waves-light btn brown', id: 'submit' %>
    <%= link_to "クリア", characters_path, class: 'waves-effect waves-light btn brown' %>
  </div>
  <% end %>
</div>