<div class="d-flex align-items-center">
  <h1 class="center-align">詳細情報</h1>
</div>
<%= render 'layouts/button_show', model: @character, path: :characters_path %>
<div class="row">
  <table>
    <tr>
      <td width="10%"><label>名前</label></td>
      <td><%= @character.name %></td>
      <td width="10%"><label>役割</label></td>
      <td><%= @character.role %></td>
    </tr>
    <tr>
      <td width="10%"><label>役職</label></td>
      <td colspan="3"><%= @character.position %></td>
    </tr>
    <tr>
      <td width="10%"><label>国</label></td>
      <td><%= @character.countory %></td>
      <td width="10%"><label>出身地</label></td>
      <td><%= @character.birthplace %></td>
    </tr>
    <tr>
      <td width="10%"><label>経歴</label></td>
      <td colspan="3"><%= @character.career %></td>
    </tr>
    <tr>
      <td width="10%"><label>人物</label></td>
      <td colspan="3"><%= @character.person %></td>
    </tr>
    <tr>
      <td width="10%"><label>初登場話</label></td>
      <td colspan="3"><%= @character.appearance_chapter %></td>
    </tr>
  </table> 
</div>
<%= render 'layouts/button_show', model: @character, path: :characters_path %>