<div class="row">
  <h1 class="center-align">画像庫</h1>
  <% if admin_user? %>
    <div class="right">
      <a class="btn-floating btn-large waves-effect waves-light brown" href="/photos/new" role="button"><i class="material-icons">add</i></a>
    </div>
  <% end %>
</div>
<%= paginate @photos %>
<div class="row">
    <% if @photos.length == 0 %>
      <ul class="collection">
        <li class="collection-item">
          対象のデータがありません
        </li>
      </ul>
    <% else %>
      <% @photos.each do |photo| %>
        <ul class="collection">
          <li class="collection-item">
            <div class="row">
              <div class="col s2">
                <p>タイトル</p>
              </div>
              <div class="col s10">
                <p><%= photo.title %></p>
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row">
              <div class="col s2">
                <p>説明</p>
              </div>
              <div class="col s10">
                <p><%= photo.overview %></p>
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row">
              <div class="col s2">
                <p>画像</p>
              </div>
              <div class="col s10">
                <p><%= image_tag(photo.image.to_s) if photo.image.present? %></p>
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row">
              <div class="col s2">
                <p>タグ</p>
              </div>
              <div class="col s10">
                <p><%= render 'layouts/tag_list', tag_list: photo.tag_list, path: :photos_path %></p>
              </div>
            </div>
          </li>
          <% if admin_user? %>
          <li class="collection-item">
            <div class="row">
              <div class="col-12">
                <div class="right">
                  <%= link_to "編集", "photos/#{photo.id}/edit", class: 'waves-light btn brown' %>
                  <%= link_to "削除", "photos/#{photo.id}", method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'waves-effect waves-light btn brown' %>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
</div>
<%= paginate @photos %>
<div class="row right">
  <%= link_to "タグ絞り込みクリア", photos_path %>
</div>