<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo"><%= link_to "設定資料集", root_path, id: "logo" %></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "トップ", root_path %></li>
        <li><%= active_link_to "登場人物", characters_path, wrap_tag: :li %></li>
        <li><%= active_link_to "エピソード", episodes_path, wrap_tag: :li %></li>
        <li><%= active_link_to "年表", chronologies_path, wrap_tag: :li %></li>
        <li><%= active_link_to "用語集", glossaries_path, wrap_tag: :li %></li>
        <li class="disabled"><%= link_to "画像庫", '#' %></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "ログイン", login_path %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete, data: {confirm: 'ログアウトしますか？'} %></li>
        <li><%= link_to "新規登録", signup_path, class: 'waves-effect waves-light btn' %></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><%= link_to "トップ", root_path %></li>
  <li><%= active_link_to "登場人物", characters_path %></li>
  <li><%= active_link_to "エピソード", episodes_path %></li>
  <li><%= active_link_to "年表", chronologies_path %></li>
  <li><%= active_link_to "用語集", glossaries_path %></li>
  <li><%= active_link_to "画像庫", '#' %></li>
  <li>
    <%= link_to "ログアウト", logout_path, method: :delete, data: {confirm: 'ログアウトしますか？'} %>
  </li>
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>